.layout{
    /* width: 40%; */
    text-align: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 2px 0px 5px grey;
    background-color: #f8f8f8;
    min-width: 200px;
    max-width: 500px;
}


.layout-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 40px; */
    /* min-width: 200px;
    max-width: 400px; */
    margin: auto;
}



.layout-header>img{
    border-radius: 20px;
    width:20px; 
    height:20px;
}

.layout-inputTag{
    margin: auto;
    /* width: 365px; */
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    display: inline-block; 
}

@media only screen and (min-width: 401px) {
    .layout-inputTag {
      width: 365px;
    }
  }


.layout-inputTag>input{
    border-collapse: collapse;
    border: none;
    width: 300px;
    margin-left: 20px;
}

.layout-filter{
    /* min-width: 200px;
    max-width: 400px; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.layout-filter button{
    padding: 10px;
    background-color: white;
    color: rgb(135, 135, 229);
    border: 0.1px solid grey;
    font-weight: 600;
}

.layout-imageholder{
    /* min-width: 200px;
    max-width: 400px; */
    margin:auto;
    margin-bottom: 20px;
}
.imageHolder-col{
    align-items: center;
    padding-left: 10px;
}
.imageholder{
    background-color: white;
    display: inline-block;
    margin: 11px 12px;
    /* width: 177px; */
    width: 154px;
}
.add-btn{
    padding: 4px 8px;
    border:0;
    background-color: #f1356d;
    color: #fff;
}

@media only screen and (min-width: 401px) {
    .imageholder {
      /* width: 177px; */
    }
  }

.imageholder-details{
    /* min-width: 160px;
    max-width: 200px; */
    background-color: rgb(227, 172, 181);
    border-radius: 17px 17px 0px 0px;
    padding: 13px;
}
.name-details{
    font-weight: normal;
    font-size: 13px;
}
.fa{
    margin-top: 10px;
    color: rgb(180, 180, 221);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.brand-layout{
    margin: 0px 0px 0px 161px;
    background-color: white;
    min-width:100px;
    max-width:130px;
}
.single-brand-layout{
    padding: 13px;
    text-align: left;
}

.single-brand-layout span{
    padding-left: 10px;
}

.cart-details-alignment{
    text-align: left;
    font-size: 12px;
    margin-left: 16px;
}





.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.create input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
